<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.application">
<listAttribute key="StepOutExcludePkgsOrClasses"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/thirdstage.exercise.cf.scala/src/main/scala/thirdstage/exercise/cf/scala/GreetingsJetty.scala"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="PORT" value="8080"/>
</mapAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CONSOLE_ENCODING" value="euc-kr"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="thirdstage.exercise.cf.scala.GreetingsJetty"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="thirdstage.exercise.cf.scala"/>
</launchConfiguration>
