CVS/
.svn/
/.idea/
/node_modules/
/target/
/build/
/data/
/run/
/temp/
/tmp/
.hg
.lock-wscript
.wafpickle-N
.DS_Store
npm-debug.log
.npmrc
config.gypi
package-lock.json
*.md.html
*.log
*.orig
*.bak
._*
.*.swp
/test/*.abi