<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.nodeclipse.debug.launch.LaunchConfigurationType">
<stringAttribute key="attr_working_directory" value="${workspace_loc:/thirdstage.exercise.solidity/src/main/frontend/}"/>
<stringAttribute key="key_file_path" value="/thirdstage.exercise.solidity/src/main/frontend/ballot.js"/>
</launchConfiguration>
