#jinja2: trim_blocks:False

# References
#   - https://github.com/hyperledger/fabric/blob/master/sampleconfig/configtx.yaml
#   - http://hyperledger-fabric.readthedocs.io/en/latest/configtxgen.html
#   - https://github.com/hyperledger/fabric/blob/master/examples/e2e_cli/configtx.yaml

Profiles:
  GenesisProfile:
    Orderer:
      <<: *ordererDefaults
      Organizations:
        {%- for org in fabric.orgs if org.type == 'orderer' %}
        - *{{ org.name }}
        {%- endfor -%}
      Consortiums:
        {%- for channel in fabric.channels %}
        {{ channel.consortium }}:
          Organizations:
            {%- for org in channel.orgs %}
            - *{{ org }}
            {%- endfor -%}
        {%- endfor -%}
  {%- for channel in fabric.channels -%}
  {{ channel.profile }}
    Consortium: {{ channel.consortium }}
    Application:
      Organizations:

      # TODO ...
  {%- endfor -%}


