#jinja2: trim_blocks:False

# References
#   - https://github.com/hyperledger/fabric/blob/v1.1.0-preview/examples/e2e_cli/crypto-config.yaml

OrdererOrgs:
  {%- for org in fabric.orgs if org.type == 'orderer' %}
  - Name: {{ org.name }}
    Domain: {{ org.domain | default(org.name) }}
    CA:
      HostName : {{ org.ca.hostname }}
      CommonName: {{ org.ca.commonName }}
    Specs:
      {%- for host in ansible_play_batch|sort -%}
        {%- for orderer in (hostvars[host].containers|default({})).orderers|default([])
            if orderer.org == org.name %}
      - Hostname: {{ orderer.name }}
        CommonName: {{ orderer.name }}
        {%- endfor -%}
      {%- endfor -%}
  {%- endfor %}

PeerOrgs:
  {%- for org in fabric.orgs if org.type == 'peer' %}
  - Name: {{ org.name }}
    Domain: {{ org.domain | default(org.name) }}
    CA:
      HostName : {{ org.ca.hostname }}
      CommonName: {{ org.ca.commonName }}
    Specs:
      {%- for host in ansible_play_batch|sort -%}
        {%- for peer in (hostvars[host].containers|default({})).peers|default([])
            if peer.org == org.name %}
      - Hostname: {{ peer.name }}
        CommonName: {{ peer.name }}
        {%- endfor -%}
      {%- endfor %}
    Users:
      Count: 1
  {%- endfor %}

