#jinja2: trim_blocks:False

# References
#   - https://github.com/hyperledger/fabric/blob/v1.1.0-preview/examples/e2e_cli/crypto-config.yaml

OrdererOrgs:
  {%- for org in fabric.orgs if org.type == 'orderer' %}
  - Name: {{ org.name }}
    Domain: {{ org.domain | default(org.name) }}
    CA:
      HostName : {{ org.ca.hostname }}
      CommonName: {{ org.ca.common_name }}
    Specs:
      {%- for host in ansible_play_batch|sort
        if hostvars[host].containers is defined
        and hostvars[host].containers.orderers is defined -%}
        {%- for orderer in hostvars[host].containers.orderers if orderer.org == org.name %}
      - Hostname: {{ orderer.name }}
        CommonName: {{ orderer.name }}
        {%- endfor -%}
      {%- endfor -%}
  {%- endfor %}

PeerOrgs:
  {%- for org in fabric.orgs if org.type == 'peer' %}
  - Name: {{ org.name }}
    Domain: {{ org.domain | default(org.name) }}
    CA:
      HostName : {{ org.ca.hostname }}
      CommonName: {{ org.ca.common_name }}
    Specs:
      {%- for host in ansible_play_batch|sort
        if hostvars[host].containers is defined
        and hostvars[host].containers.peers is defined -%}
        {%- for peer in hostvars[host].containers.peers if peer.org == org.name %}
      - Hostname: {{ peer.name }}
        CommonName: {{ peer.name }}
        {%- endfor -%}
      {%- endfor %}
    Users:
      Count: 1
  {%- endfor %}

