[req]
default_bits = 4096
default_md = sha512
encrypt_key = no
prompt = no
output_password = 1234
distinguished_name = dn
x509_extensions = x509

# https://www.openssl.org/docs/manmaster/man5/x509v3_config.html
# https://tools.ietf.org/html/rfc5280#section-4.2.1.3
# https://tools.ietf.org/html/rfc5280#section-4.2.1.12
[x509]
basicConstraints = critical,CA:FALSE
keyUsage = critical,digitalSignature,keyEncipherment,keyAgreement
extendedKeyUsage = critical,serverAuth,clientAuth
authorityKeyIdentifier = keyid,issuer
issuerAltName = issuer:copy
subjectKeyIdentifier = hash
subjectAltName = dirName:dn

[dn]
countryName = KR
stateOrProvinceName = Gyeonggi-do
localityName = Seongnam-si
organizationName = SK Holding C&C
organizationalUnitName = Solution Lab
commonName = Test TLS Server 001
# emailAddress = test-tls-server-001@sk.com
