# references
#   https://git-scm.com/docs/gitignore
#   https://github.com/github/gitignore

# source version control related
CVS/
.svn/
.hg

# IDEs or tools related
# /.vscode/
/.idea/
.gradle/

# directories for intermediate or final compiled artifacts
/bin/
/target/
/build/
/output/
/out/
/Debug/
/Release/
/x86/
/x64/
/obj/
/package/

# dependencies
/node_modules/
/pkg/

# generated artifacts
/reports/
/_site/
.apt_generated/
.atp_generated_tests/
/artifacts/
/types/

# runtime outputs
/run/
/log/
/logs/
/test-output/
*.log
npm-debug.log

# backups, caches, or temporary artifacts
.~*
._*
*.bak
.cache*
.*.swp
*.md.html
# package-lock.json
Gemfile.lock
.sass-cache
__pycache__/
.pytest_cache/
packer_cache/
/.scannerwork

# misc
config.gypi
.npmrc
.jekyll-metadata
.DS_Store
.lock-wscript
.wafpickle-N
/*.tgz

# specific
/scripts/create-script*
/scripts/drop-script*
